input[type=text], input[type=password], select {
    width: 15%;
    padding: 8px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 15%;
    background-color: #21474f;
    color: white;
    padding: 8px 1px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.loginAndRegistration {
    margin-top: 10px;
    margin-left: 10px;
}