<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css" th:href="@{/css/admin.css}">
    <title>Page Admin</title>
</head>
<div th:insert="link :: links"></div>
<body>
<h2>Таблица всех пользователей</h2>
<form action="/Admin" method="get">
    <input type="text" th:value="${nameFilter != null} ? ${nameFilter}" placeholder="поиск по имени" name="nameFilter">
    <input type="submit" value="поиск">
    <input type="reset" value="сброс">
</form>
<table class="table" style="width: 30%">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>password</th>
        <th>delete</th>
        <th>update</th>
    </tr>
    <tr th:each="user, lp : ${allUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.getUsername}"></td>
        <td th:text="${user.password}"></td>
        <td><a th:href="@{'/Admin/delete/' + ${user.id}}" th:text="удалить"></a></td>
        <td><a th:href="@{'/Admin/edit/' + ${user.id}}">редактировать</a></td>
    </tr>

</table>
</body>
</html>
