<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:height="http://www.w3.org/1999/xhtml" lang="en" th:fragment="links"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div class="links">
    <div class="link_right" sec:authorize="!isAuthenticated()">
        <a href="/Registration">Registration</a>
        <a href="/login">Login</a>
    </div>
    <div class="link_right" sec:authorize="isAuthenticated()">
        <a href="/logout">Logout</a>
    </div>
    <div class="link_center">
        <a href="/Admin">Admin</a>
        <a href="/User">User</a>
        <a href="/Movie">Movie</a>
    </div>
</div>
</body>
</html>
<!--<img src="../images/" style="filter: blur(5); width: 1600px;height: 713px" alt="fon">-->