<!DOCTYPE html>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:fragment="links"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="links">
    <div class="link_right" sec:authorize="!isAuthenticated()">
        <a href="/Registration">Registration</a>
        <a href="/login">Login</a>
    </div>
    <div class="link_right" sec:authorize="isAuthenticated()">
        <a href="/logout">Logout</a>
    </div>
    <div class="link_center">
        <a href="/Card">Card</a>
        <a href="/Profile">Profile</a>
        <a href="/Movie">Movie</a>
        <div sec:authorize="hasRole('ADMIN')" class="dropdown">
            <button class="dropout">Admin
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/Admin">See users</a>
                <a href="/User_Tickets">Users_tickets</a>
                <a href="/Card/users_card">Users_cards</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>