<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/authorization.css" th:href="@{/css/authorization.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="link :: links"></div>
<div th:if="${param.error}">
    <h4>Неправильный логин или пароль</h4>
</div>
<div class="loginAndRegistration">
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="username" minlength="3" maxlength="15"
               required="required"><br> <br>
        <input type="text" name="password" placeholder="password" minlength="4" maxlength="15"
               required="required"><br> <br>
        <input type="submit" value="login">
    </form>
</div>
</body>
</html>