<!DOCTYPE html>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="link :: links"></div>
<div class="login_reg_center">
    <div class="loginAndRegistration">
        <form method="post" action="/login">
            <input type="text" name="username" placeholder="username" minlength="3" maxlength="15"
                   required="required"><br> <br>
            <input type="text" name="password" placeholder="password" minlength="4" maxlength="15"
                   required="required"><br> <br>
            <input type="submit" value="login"><br>
            <div th:if="${param.error}">
                <h4 class="h4_error_login">Неправильный логин или пароль</h4>
            </div>
        </form>
    </div>
</div>
</body>
</html>