<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>schedule</title>
</head>
<div th:insert="link :: links"></div>
<body>
<div class="table_user">
    <table class="table">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>password</th>
            <th>registration_date</th>
            <th>delete</th>
            <th>update</th>
        </tr>

        <tr th:each="user, lp : ${'allUsers'}">
            <td th:text="${'user.id'}"></td>
            <td th:text="${'wef'}"></td>
            <td th:text="${'wefw'}"></td>
            <td th:text="${'wewefwef'}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <div class="deleteAndUpdate">
                    <a th:href="@{'/Admin/delete/' + ${''}}" th:text="удалить"></a>
                </div>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
                <div class="deleteAndUpdate">
                    <a th:href="@{'/Admin/edit/' + ${''}}">редактировать</a>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>