<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/authorization.css" th:href="@{/css/authorization.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="link :: links"></div>
<div class="loginAndRegistration">
    <form method="post" action="#" th:action="@{'/Admin/update/' + ${userForm.id}}" th:object="${userForm}">
        <input th:field="*{username}" type="text" name="username" placeholder="username" maxlength="13"
               required="required"><br> <br>
        <input th:field="*{password}" type="text" name="password" placeholder="password" maxlength="13"
               required="required"><br> <br>
        <input type="submit" value="update">
    </form>
</div>
</body>
</html>