<!DOCTYPE html>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="link :: links"></div>
<div class="login_reg_center">
    <div class="loginAndRegistration">
        <form method="post" th:action="@{'/Movie/update/' + ${movieForm.id}}" th:object="${movieForm}">
            <input th:field="*{name_Movie}" type="text" name="name_Movie"
                   placeholder="name_Movie" maxlength="20"><br><br>
            <input th:field="*{price}" type="number" name="price" placeholder="entryPrice"
                   required="required"><br><br>
            <input th:field="*{dates}" type="datetime-local" name="dates"
                   placeholder="date"><br><br>
            <input type="submit" value="update">
        </form>
    </div>
</div>
</body>
</html>